* {
    box-sizing: border-box;
}

.container {
    width: 512px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: lightpink;
    margin-bottom: 10px;
    padding: 10px;
}

.container h2 {
    margin: 0;
    margin-bottom: 10px;
}

.container p {
    margin: 0;
    margin-bottom: 10px;
}

.container p:last-child {
    margin-bottom: 0;
}

img {
    border-radius: 4px;
}