* {
    box-sizing: border-box;
}

.container {
    width: 512px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: lightpink;
    margin-bottom: 10px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.container h1 {
    margin: 0;
    text-align: center;
}

.container h2 {
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
}

.container p {
    margin: 0;
    margin-bottom: 10px;
}

.container p:last-child {
    margin-bottom: 0;
}

.container ul,
.container ol {
    margin: 0;
}

.container ul li:not(:first-child), 
.container ol li:not(:first-child) {
    margin-top: 5px;
}

img {
    display: block;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}